body{
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
    user-select: none;
    background-color: #e4cead;
    font-family: cursive;
}

.hidden{
    display: none !important;
}

img{
    image-rendering: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 7%;
    width: 100vw;
}

.grocery-item{
    height: 120px;
    width: 100px;
}

.dragging-image{
    position: absolute;
    pointer-events: none;
    height: 200px;
    width: 160px;
    z-index: 9999;
}

table td{
    width: 310px;
    height: 135px;
    background-image: url('img/wood2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

table.themeTwo td.themeTwo{
    background-image: url('img/wood1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 7px solid rgb(108 72 54);
}
    
table, td{
    border: 7px solid rgb(146 125 85);
    border-collapse: collapse;
    margin: 10px;
}

.main-shelf>td{
    width: 310px;
}

.timer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
}

.level-name{
    color: white;
    text-align: center;
    font-size: 35px;
    border: 5px solid white;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.141);
    border-radius: 15px;
    margin: 10px;
}

button{
    color: white;
    background-color: rgb(255, 169, 215);
    padding: 5px;
    border-radius: 5px;
    border: 4px solid rgb(252, 128, 202);
    width: 150px;
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;
}

button:hover{
    background-color: rgb(255, 70, 168);

}

.left-shelf-container td, .right-shelf-container td{
    width: 100px;
}

.win-container{
    position: absolute;
    top: 40%;
    width: 100vw;
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.win-msg{
    background-color: rgba(255, 255, 255, 0.677);
    width: 20%;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    padding:20px;
}


.floor{
    width: 100vw;
    height: 30%;
    background-color: #b2a289;
    position: absolute;
    bottom: 0;
    z-index: -1;
}